@{
  Layout = "_Layout";
}

<h1>Projects</h1>

<li> Hello world! <a href = https://github.com/nconn34/Pokedex> Pokedex </a></li>
<li> Hello world! https://github.com/nconn34/PierresGrowingBusiness </li>
<li> Hello world! https://github.com/nconn34/pizzashop </li>
<li> Hello world! https://github.com/nconn34/pizzashop </li>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
