@{
  Layout = "_Layout";
}

<h1>Projects</h1>

<li> <a href = https://github.com/nconn34/Pokedex> Pokedex </a>This was a project that I proposed to the project board during Team Week at Epicodus to cap off our units learning JavaScript and the basics of web development, including making API calls and implementing node.js. I worked on this with a team of three other classmates and each session we held a stand-up to discuss the minimum viable product for our given timeline and how to divide the tasks daily.</li>
<li> Hello world! https://github.com/nconn34/PierresGrowingBusiness </li>
<li> Hello world! https://github.com/nconn34/pizzashop </li>
<li> Hello world! https://github.com/nconn34/pizzashop </li>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
